.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  padding: 7px;
  
}

.grid {
  grid-column-gap: 0vw;
  grid-row-gap: 7px;
  grid-template: "Area . Area-2 . Area-3"
  / 42% auto 20% 5% 17%;
  grid-auto-columns: .25fr;
  grid-auto-flow: row;
  position: relative;
  overflow: hidden;
}

.container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
}

.body {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  font-size: 12px;
  line-height: 14px;
  background-color: blue;
}

.slider {
  min-height: 80vh;
  background-color: rgba(0, 0, 0, 0);
}

.about-me {
  padding-right: 30px;
}

.project-text {
  position: relative;
}

.media-status {
  text-align: left;
  padding-top: 3em;
}

.div-trigger {
  position: relative;
}

.previous {
  width: 50%;
  cursor: w-resize;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.next {
  width: 50%;
  cursor: e-resize;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.image-carousel {
  width: 100%;
  margin-bottom: 16px;
  max-height: 90vh;
  object-fit: cover;
}

.grid-2 {
  grid-template-rows: auto auto;
  grid-template-columns: auto;
}

.paragraph {
  width: 66%;
}

.body-2 {
  margin: 7px;
  font-size: 12px;
  line-height: 14px;
}

.online-shop-banner {
  height: 30px;
  width: 100%;
  background-color: orange;
  position: fixed;
  bottom: 0%;
}

@media screen and (max-width: 479px) {
  .grid {
    display: inline-block;
  }

  .body {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .about-me, .project-text {
    padding: 0px;
    margin-bottom: 5em;
  }

  .media-status {
    text-align: left;
    padding: 0px;
    margin-bottom: 10em;
  }

  .project-text {
    position: relative;
    margin: 0px;
    padding: 0px;
  }

  #project-column {
    grid-area: Area-2;
    align-self: start;
    margin: 0px;
    padding: 0px;
  }
}

#w-node-d5b00744-992a-7e65-c12e-65cf2567d20c-7a56a88d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#div-trigger.w-node-_92054629-eda1-dd8d-f81f-4de377d060fe-7a56a88d, #carousel.w-node-_268714d0-01e3-6148-9cc2-ca59f72e5b99-7a56a88d {
  grid-area: Area;
}

#project-column {
  grid-area: Area-2;
  align-self: start;
  margin-top: 0px;
  padding-top: 0px;
}

#project-text.w-node-_26c52772-afc1-d7ba-8bb3-c0b169e50f9f-7a56a88d {
  grid-area: 1 / 1 / 2 / 2;
  align-self: start;
}

#media-status.w-node-_51398c28-8ff0-3e1e-f1f2-4b911235ed60-7a56a88d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#about-me.w-node-_9f0fd24c-299c-ca73-4ffc-237783fe0f0f-7a56a88d {
  grid-area: 1 / 5 / 2 / 6;
  align-self: start;
}
